# Stap 0: voorbereiding

- Installeer [Anaconda](http://repo.continuum.io/archive/Anaconda3-4.1.1-Windows-x86_64.exe)
- start de python omgeving vanaf de command line met het commando
  
  ```
  jupyter notebook
  ```
  
- open de notebook omgeving in je browser: (http://localhost:8888)

# Stap 1: Invoer

In [5]:
# tekst kan je invoeren door met drie dubbele quotes te beginnen en eindigen
sudoku_invoer = """
3.|1.
..|34
--+--
43|..
..|43
"""

In [6]:
# met het print commando kan je de net ingevoerde tekst laten weergeven
print(sudoku_invoer)

3.|1.
..|34
--+--
43|..
..|43

In [7]:
# in de variabele sudoku_invoer staan nu de volgende tekens. \n betekent nieuwe regel
sudoku_invoer

'\n3.|1.\n..|34\n--+--\n43|..\n..|43\n'

In [8]:
# we gaan nu de inhoud van sudoku_invoer filteren zodat alleen de toegestane tekens overblijven
toegestaan = '.1234'
sudoku = [letter for letter in sudoku_invoer if letter in toegestaan]


# ook veranderen we de sudoku van een 'string' (een serie letters), naar een list (een lijst met inhoud)
print(sudoku)

['3', '.', '1', '.', '.', '.', '3', '4', '4', '3', '.', '.', '.', '.', '4', '3']

In [9]:
# van een lijst kan je bijvoorbeeld alleen het eerste (begin bij nul te tellen):
print('eerste element:', sudoku[0])
print('tweede tot vierde element:', sudoku[1:4])

eerste element: 3
tweede tot vierde element: ['.', '1', '.']

# Stap 2: Uitvoer

In [10]:
# de lijst met tekens in sudoko kunnen we ook weer netjes als een sudoku weergeven

# een voor een de sudoku weergeven (ieder cijfer op nieuwe regel)
for getal in range(16):
    print(getal, sudoku[getal])

0 3
1 .
2 1
3 .
4 .
5 .
6 3
7 4
8 4
9 3
10 .
11 .
12 .
13 .
14 4
15 3

In [11]:
a =1
b = 2
a += b
print(a)

3

In [12]:
a = 'qer'
b = 'w'
a += b
print(a)

qerw

In [13]:
# alle cijfers achter elkaar

s = 'g3w13'

for getal in range(16):
    s += sudoku[getal]
    
print(s)

g3w133.1...3443....43

In [14]:
def print_sudoku(sudoku):
    s = ''
    for rij in range(4):
        for kolom in range(4):
            s += '{:9s}'.format(','.join(sudoku[rij*4+kolom]))
        s += '\n'
    print(s)
    
print_sudoku(sudoku)

3        .        1        .
.        .        3        4
4        3        .        .
.        .        4        3

# Stap 3: de regels van een sudoku

In [15]:
allowed = 'ABCD'

row = """
AAAA
BBBB
CCCC
DDDD
"""
row = [s for s in row if s in allowed]

column = """
ABCD
ABCD
ABCD
ABCD
"""
column = [s for s in column if s in allowed]

block = """
AABB
AABB
CCDD
CCDD
"""
block = [s for s in block if s in allowed]

print('sudoku = ', sudoku)
print('row    = ', row)
print('column = ', column)
print('block  = ', block)

sudoku =  ['3', '.', '1', '.', '.', '.', '3', '4', '4', '3', '.', '.', '.', '.', '4', '3']
row    =  ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'C', 'C', 'C', 'C', 'D', 'D', 'D', 'D']
column =  ['A', 'B', 'C', 'D', 'A', 'B', 'C', 'D', 'A', 'B', 'C', 'D', 'A', 'B', 'C', 'D']
block  =  ['A', 'A', 'B', 'B', 'A', 'A', 'B', 'B', 'C', 'C', 'D', 'D', 'C', 'C', 'D', 'D']

# Stap 4: toepassen van de regels

In [16]:
opties = set('1234')
opties

{'1', '2', '3', '4'}

In [17]:
for i in range(16):
    if sudoku[i] not in opties:
        sudoku[i] = set('1234')
        
print_sudoku(sudoku)

3        1,3,4,2  1        1,3,4,2
1,3,4,2  1,3,4,2  3        4
4        3        1,3,4,2  1,3,4,2
1,3,4,2  1,3,4,2  4        3

In [20]:
for s1, r1, c1 ,b1 in zip(sudoku,row,column,block):
    if s1 in opties:
        continue
    
    in_gebruik = ''
    for s2, r2, c2 ,b2 in zip(sudoku,row,column,block):
        if s2 not in opties:
            continue
        if r1 == r2 or c1 == c2 or b1 == b2:
            in_gebruik += s2
            
    s1 -= set(in_gebruik)
    
print_sudoku(sudoku)

3        4,2      1        2
1,2      1,2      3        4
4        3        2        1,2
1,2      1,2      4        3

In [119]:
'1' in set('123')

True